audio.interview{
    position: absolute;
    top: 350px;
    right: 15px;
}


div.interview.image {
    position:absolute;
    top: 60px;
    right: 15px;
}
div.interview.image img{
    border-radius: 5px;
}

div.interview.description{
    width: 70%;
}

div.content a.download {
    position: absolute;
    top: 400px;
    right: 15px;
}