@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("https://storage.googleapis.com/dariox/samm/css/header.css");
@import url("https://storage.googleapis.com/dariox/samm/css/interview.css");
@import url("https://storage.googleapis.com/dariox/samm/css/footer.css");
@import url("https://storage.googleapis.com/dariox/samm/css/misc.css");


a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}


* {font-family: 'Lato', sans-serif;}